.battle {
    background: linear-gradient(40deg, rgba(0,0,0,1) 5%, rgba(238,238,238,1) 50%, rgba(0,0,0,1) 90%);

    display: grid;
    grid-template: 12fr 1fr / 1fr 6fr;
    
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    background-color: #333;
}
