.game {
    grid-area: 1 / 2 / 2 / 3;
    
    width: 100%;
    height: 100%;

    position: relative;
}

.game_wrapper {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    canvas {
        width: 100%;
        height: 100%;
    }
}

.menu {
    position: absolute;
    z-index: 2;

    padding: 2%;
    margin: auto;
    width: 60%;
    height: 55%;
    
    top: 0; left: 0; right: 0; bottom: 0;

    border-radius: 1%;
    background: rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template: 0.5fr 8fr 1fr / 1fr;
}

.menu_wrapper {
    grid-area: 2 / 1 / 3 / 2;

    width: 100%;
    height: 100%;

    position: absolute;

    canvas {
        width: 100%;
        height: 100%;
    }
}

.ready {
    width: 100%;
    height: 100%;

    grid-area: 3 / 1 / 4 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    button {
        cursor: pointer;
    }
}

.label {
    grid-area: 1 / 1 / 2 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
